<div class="header-wrapper">
  <div class="container">
    <div class="my-line-brake"></div>
    <div class="row">
      <div class="col-sm-6 ">
        <!--               <my-cart-icon class="pull-left"></my-cart-icon>
 -->
      </div>
      <div class="col-sm-6">
        <!--               <a [routerLink]="['']"><img src="images/logo.png" alt="לב התחביב" class="logo" /></a>
 -->
        <a>
          <img src="assets/logo.png" alt="לב התחביב" class="logo" />
        </a>
      </div>
    </div>
    <!--     <div id="my-top-nav">
      <my-top-nav></my-top-nav>
    </div>
 -->
  </div>
</div>