<div>
	<div class="row">
		<div class="col-md-6 hidden-sm hidden-xs">
			<img src="assets/about-us-main.jpg" alt="מי אנחנו" id="about-us-main" class="img-responsive" />
		</div>
		<div class="col-md-6">
			<h2 class="header">מי אנחנו</h2>

			<div class="text-wrapper">
				<p>לב התחביב הינה חנות משפחתית למוצרי אומנות ותחביבים בעלת ותק רב של למעלה מ15 שנים.</p>
				<p>ניתן למצוא בחנות מבחר רחב של מוצרים בתחומי האומנות כגון צבעים, מכחולים, בדי ציור - קנווס, כני ציור ועוד, בתחומי היצירה
					וההובי חימר, פימו, חרוזים, מדבקות, מוצרי עץ, חומרי גלם שונים ןעוד מגוון עצום של מוצרים.</p>
				<p>בחנות צוות מקצועי שישמח לעמוד לרשותכם בכל שאלה ולסייע בכל הנושאים.</p>
				<p>אנחנו שמים דגש מיוחד על איכות המוצרים ומשתדלים לתת את המחיר האטרקטיבי ביותר.</p>
				<p>בנוסף, למי שחשקה נפשו ללמוד תחום נוסף או לשפר את יכולותיו הקיימות, מתקיימים בחנות שיעורים וסדנאות יצירה למתחילים ולמתקדמים
					בשלל נושאים על ידי מורים מנוסים מאוד שישמחו לחלוק את הידע שלהם. ניתן למצוא חוגים כגון ציור, פיסול בבצק סוכר וכו'.</p>
			</div>
			<h3 class="pull-left">
				לב התחביב - המרכז לאומנויות ולתחביבים
			</h3>

		</div>
	</div>
</div>