<my-spinner *ngIf="spinnerOn"></my-spinner>
<div *ngIf="!spinnerOn">
	<div class="row" (window:resize)="onResize($event)">
		<div *ngFor="let item of returnedItems; let i = index">
			<div class="clearfix" *ngIf="(i % 4 == 0) && (windowWidth > 991)"></div>
			<div class="clearfix" *ngIf="(i % 2 == 0) && (windowWidth < 992)"></div>
			<my-item-thumbnail class="col-md-3 col-sm-6" (clicked)="openItemModal($event)" (addToCartclicked)="openAddToCartModal(addToCartModal)"
			 [data]=item>
			</my-item-thumbnail>
		</div>
	</div>s
	<div class="row pagination-div">
		<pagination [totalItems]="items.length" previousText='הקודם' nextText='הבא' (pageChanged)="onPageChange($event)"></pagination>
	</div>
</div>

<!-- Modal -->
<div bsModal #itemModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="itemModal.hide()">&times;</button>
				<h4 class="modal-title">{{modalItem.name}}</h4>
			</div>
			<div class="modal-body">
				<img src="{{modalItem.image}}" alt={{modalItem.name}}>
				<h4>{{modalItem.details}}</h4>
				<h4>מחיר: {{modalItem.price.toFixed(2)}}</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="addButtonClick(modalItem)">הוסף לעגלה</button>
			</div>
		</div>
	</div>
</div>

<my-add-to-cart-modal #addToCartModal></my-add-to-cart-modal>