@import '../../../styles';

.glyphicon-shopping-cart{
    font-size: 1.5em;
}

.cart-drop-down{
    text-align: right;
    padding-right: 9px;
    margin-left: 14px;
}

h4{
    margin-top: 6px;
    margin-bottom: 0px;
    color: $theme-main-color;
}

a{
    text-decoration: none;
}

.cart-icon{
    width: 33px;
    max-height: 33px;
    background-color: $theme-main-color;
    text-align: center;
    vertical-align: middle;
    min-height: 33px;
    line-height: 39px;
    margin: 8px;
    color: white;
}

.cart-icon-outer-box{
    cursor:pointer;
    margin-left: 10px;
}