<div class="my-shoping-cart-page">
	<h1>עגלת קניות</h1>

	<div *ngIf="sum == 0" class="no-items-message">
		אין פריטים בעגלה.
	</div>

	<table *ngIf="sum > 0" class="table table-striped" style="width:80%">
		<thead>
			<tr>
				<th align="right">שם המוצר</th>
				<th align="right">הערות</th>
				<th align="right"></th>
				<th align="right" class="count-col">כמות</th>
				<th align="right">מחיר</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of items">
				<td>{{item.item.name}}</td>
				<td>
					<div *ngIf="item.item.size">מידה {{item.item.size}} </div>
					<div *ngIf="item.item.color">צבע {{item.item.color}} </div>
				</td>
				<td><img src="{{item.item.image}}" alt="{{item.item.name}}" class="item-image"></td>
				<td>
					<my-minus-plus-button [startVal]=item.count (valueChanged)="quantCanged(item, $event)"></my-minus-plus-button>
				</td>
				<td>{{(item.item.price * item.count).toFixed(2)}}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td id="sum-price">סהכ: {{sum.toFixed(2)}}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<button class="btn btn-primary btn-lg" [disabled]="sum == 0" (click)="onBuyClick()" id="buy-button">בצע רכישה</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>